<!DOCTYPE html>
<html lang="en">

<head>
    <title>HC Reimbursement Portal</title>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="container"> 
            <div class="navbar-header"> 
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="/user/patient_dashboard" style="margin-right: 25px;">Dashboard</a>
                <a class="navbar-brand" href="/user/form" style="margin-right: 25px;">New Form</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar"> 
                <ul class="nav navbar-nav navbar-right"> 
                    <li><a href = "/#"><span class = "glyphicon glyphicon-user"></span> {{ user.username }}</a></li> 
                    <li><a href = "/user/logout"><span class = "glyphicon glyphicon-log-in"></span> Logout</a></li> 
                </ul> 
            </div> 
        </div> 
    </div>  



  <div class="container-fluid">
    <div class="row">
      <main class="col-md-9 ml-sm-auto col-lg-12 px-md-4 py-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Form</li>
          </ol>
        </nav>
        <h1 style="margin-top:50px;">Reimbursement Form</h1>
        <section>
          <div class="container">
            <h4 style="line-height: 50px;"><strong>Details of Patient and Employee</strong></h4>
            
            <!-- need to update this with proper names -->
            <!-- <form action = "form/formsubmit" method = "post" margin-top: 20px;"> -->
            <form margin-top: 20px;">
                    {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Full Name</label>
                        <input type="text" class="form-control" id="inputEmail4" value="{{user.name}}" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Roll Number</label>
                        <input type="text" class="form-control" id="inputPassword4" value="{{user.roll}}" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Designation</label>
                        <input type="text" class="form-control" id="inputEmail4" value="{{user.designation}}" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Department</label>
                        <input type="text" class="form-control" id="inputPassword4" value="{{patient.department}}" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" value="{{user.address}}" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputAddress">Bank Name</label>
                        <input type="text" class="form-control" id="inputAddress" value="{{patient.bank_name}}" disabled>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputAddress">IFSC Code</label>
                        <input type="text" class="form-control" id="inputAddress" value="{{patient.bank_IFSC}}" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Account Number</label>
                        <input type="text" class="form-control" id="inputAddress" value="{{patient.bank_AC}}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Name of Patient</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Relation to Employee</label>
                        <input type="text" class="form-control" id="inputPassword4" placeholder="Relationship" required>
                    </div>
                </div>
                <div class="push"></div>

                <h4 style="line-height: 50px;">Details of Reimbursement Claim</h4>
                
                <div class="mb-3">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail5">Name of Medical Advisor</label>
                            <select class="form-select form-control form-select-lg mb-3" aria-label=".form-select-lg" id="inputEmail5" name="hc_medical_advisor">
                                <option selected>Name of Medical Advisor</option>
                                {% for doctor in doctors %}
                                <option value="{{doctor.doctor_id}}" name="hc_medical_advisor">{{doctor.user.name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <!-- <label for="inputEmail5">Specialization</label>
                            <input type="text" class="form-control" id="inputEmail5" placeholder="Specialization"> -->
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword6">Date of consultation</label>
                            <input type="date" class="form-control" ,placeholder="DD/MM/YYYY">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail5">Referred to</label>
                            <input type="text" class="form-control" id="inputEmail5" placeholder="Name of Specialist">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword6">Consultation fees</label>
                            <input type="text" class="form-control" placeholder="Fees (in Rs.)">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword6">Number of visits</label>
                            <input type="text" class="form-control" placeholder="Visits">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="container" id="newinput">
                        <div class="mb-3" id="deltarget">
                            <label for="atle">Medicines and their quantities and respective costs</label>
                            <div class="form-row" id="atle">
                                <center>
                                    <div class="form-group col-md-6">
                                        <!-- <input type="text" class="form-control" placeholder="Name of Medicine"> -->
                                        <select class="form-select form-control form-select-lg mb-3" aria-label=".form-select-lg" id="inputEmail5" name="hc_medical_advisor">
                                            <option selected>Name of Medicine</option>
                                            {% for medicine in medicines %}
                                            <option value="{{medicine.medicine_id}}" name="medicine_name">{{medicine.medicine_name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2"><input type="number" class="form-control" placeholder="Quantity"></div>
                                    <div class="form-group col-md-2"><input type="text" class="form-control" placeholder="Price (in Rs.)"></div>
                                    <div class="col-md-1">
                                        <button class="btn btn-danger" id="DeleteRow" type="button" disabled>
                                            <i class="bi bi-trash"></i>
                                            Delete
                                        </button>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="form-row text-center">
                            <div class="form-group col-md-offset-5 col-md-1 text-center">
                                <button id="rowAdder" type="button" class="btn btn-primary">
                                    <span class="bi bi-plus-square-dotted">
                                    </span> ADD
                                </button>
                            </div> 
                            <div class="form-group col-md-offset-2 col-md-2"><input type="text" class="form-control" placeholder="Total Price (in Rs.)"></div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="container" id="newinput2">
                        <div class="mb-3" id="deltarget2">
                            <label for="atle">Pathological tests and their respective costs</label>
                            <div class="form-row" id="atle">
                                <center>
                                    <div class="form-group col-md-4">
                                        <!-- <input type="text" class="form-control" placeholder="Test Name"> -->
                                        <select class="form-select form-control form-select-lg mb-3" aria-label=".form-select-lg" id="inputEmail5" name="hc_medical_advisor">
                                            <option selected>Name of Test</option>
                                            {% for test in tests %}
                                            <option value="{{test.test_id}}" name="medicine_name">{{test.test_name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4"><input type="text" class="form-control" placeholder="Laboratory"></div>
                                    <div class="form-group col-md-2"><input type="text" class="form-control" placeholder="Charges (in Rs.)"></div>
                                    <div class="col-md-1">
                                        <button class="btn btn-danger" id="DeleteRow2" type="button" disabled>
                                            <i class="bi bi-trash"></i>
                                            Delete
                                        </button>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="form-row text-center">
                            <div class="form-group col-md-offset-5 col-md-1 text-center">
                                <button id="rowAdder2" type="button" class="btn btn-primary">
                                    <span class="bi bi-plus-square-dotted">
                                    </span> ADD
                                </button>
                            </div> 
                            <div class="form-group col-md-offset-2 col-md-2"><input type="text" class="form-control" placeholder="Total Charges (in Rs.)"></div>
                        </div>
                    </div>
                </div>


            <div class="mb-3">
                <div class="form-row">
                    <div class="form-group">
                        <label for="inputAddress">Total Amount Claimed</label>
                        <input type="number" class="form-control" id="inputAddress" placeholder="Claim Amount(in Rs.)" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="inputAddress">Advance Taken</label>
                        <input type="number" class="form-control" id="inputAddress" placeholder="Advance Amount(in Rs.)" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="inputAddress">Net Amount Claimed</label>
                        <input type="number" class="form-control" id="inputAddress" placeholder="Net Claim Amount(in Rs.)" required>
                    </div>
                </div>
            </div>

              
            <div class="mb-3" style="margin-top:50px;">
                <div class="form-row">
                    <div class="col-md-offset-3 form-group">
                        <label for="exampleFormControlFile1">Attach receipts here(as one pdf file)</label> <br>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" required>
                    </div>
                </div>
            </div>
            <div class="mb-3" style="margin-top:50px;">
                <div class="form-row">
                    <div class="col-md-offset-4 col-md-4 form-group" align="center">
                        <button type="submit" class="btn btn-primary">Submit Form</button>
                    </div>
                </div>
            </div>
            
            </form>
          </div>
        </section>
      </main>
    </div>
  </div>
    <div class="push"></div>
    <footer>
        <div class="container"> 
            <center> 
                <p>
                    Copyright &copy; HC Reimbursement Portal All Rights Reserved | Contact Team-6.
                </p> 
            </center> 
        </div> 
    </footer>
    <script type="text/javascript">
        $("#rowAdder").click(function () {
        newRowAdd =
                '<div class="mb-3" id="deltarget"><div class="form-row"><center><div class="form-group col-md-6"> <select class="form-select form-control form-select-lg mb-3" aria-label=".form-select-lg" id="inputEmail5" name="hc_medical_advisor"> <option selected>Name of Medicine</option> {% for medicine in medicines %} <option value="{{medicine.medicine_id}}" name="medicine_name">{{medicine.medicine_name}}</option> {%endfor%} </select> </div><div class="form-group col-md-2"><input type="number" class="form-control" placeholder="Quantity"></div><div class="form-group col-md-2"><input type="text" class="form-control" placeholder="Price (in Rs.)"></div> <div class="form-group col-md-1"><button class="btn btn-danger" id="DeleteRow" type="button"><i class="bi bi-trash"></i>Delete</button></div></center></div></div><div></div>'
            ;

        $('#newinput').append(newRowAdd);
        });

        $("body").on("click", "#DeleteRow", function () {
        $(this).parents("#deltarget").remove();
        })
    </script>
    <script type="text/javascript">
        $("#rowAdder2").click(function () {
        newRowAdd =
                '<div class="mb-3" id="deltarget2"><div class="form-row"><center><div class="form-group col-md-4"> <select class="form-select form-control form-select-lg mb-3" aria-label=".form-select-lg" id="inputEmail5" name="hc_medical_advisor"> <option selected>Name of Test</option> {% for test in tests %} <option value="{{test.test_id}}" name="medicine_name">{{test.test_name}}</option> {%endfor%} </select> </div><div class="form-group col-md-4"><input type="text" class="form-control" placeholder="Laboratory"></div><div class="form-group col-md-2"><input type="text" class="form-control" placeholder="Charges (in Rs.)"></div> <div class="form-group col-md-1"><button class="btn btn-danger" id="DeleteRow2" type="button"><i class="bi bi-trash"></i>Delete</button></div></center></div></div><div></div>'
            ;

        $('#newinput2').append(newRowAdd);
        });

        $("body").on("click", "#DeleteRow2", function () {
        $(this).parents("#deltarget2").remove();
        })
    </script>
</body>

</html>